{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
//    "semi": "off"
    "comma-dangle": "off",
    "max-len": "off",
    "require-jsdoc": "off",
    "eol-last": "off",
    "linebreak-style": "off",
    "arrow-parens": "off",
    "operator-linebreak": "off",
    "no-empty": "off",
    "no-dupe-else-if": "off",
    "curly": "off",
    "no-const-assign": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
